@using X.PagedList
@using X.Web.PagedList
@model IPagedList<ShoeListVM>;//Con esto le indico el tipo de modelo que va a recibir esta vista, le pasó este tipo porque en el controlador le paso un parametro de tipo
@{
    ViewData["Title"] = "List of Shoes";
}

<div class="row w-60 mb-3">
    <div class="col-8">
        <h1>List of Shoes</h1>
    </div>
</div>
<form method="get" class="form-inline" asp-action="Index" style="padding-bottom:5px">
    <div class="d-flex flex-row align-items-center">
        <div class="col-auto mx-1">
            <label for="pageSize">Show:</label>
        </div>
        <div class="col-auto mx-2">
            <partial name="_selectPageSize" model="ViewBag.currentPageSize" />

        </div>
        <div class="col-auto mx-2" style="width: 200px;">
            <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Search by..." value="@ViewBag.currentSearchTerm" />
        </div>
        <div class="col-auto d-flex">
            <button type="submit" class="btn btn-primary mx-2">
                <i class="bi bi-search"></i> Search
            </button>
            <button type="submit" class="btn btn-secondary" id="viewAll" name="viewAll" value="true">
                <i class="bi bi-list"></i> View All
            </button>
        </div>
    </div>
</form>

<table class="table table-dark table-hover w-auto  ">
    <thead class="border-2">
        <tr bordercolor="dark">
            <th colspan="7" valign="middle" align="center">Shoe</th>
            <th>Accions</th>
        </tr>
        <tr>
            <th>Brand</th>
            <th>Colour</th>
            <th>Genre</th>
            <th>Sport</th>
            <th>Model</th>
            <th>Price</th>
            <th>Description</th>
            <th>
                <a asp-controller="Shoe" asp-action="UpSert" class="btn btn-primary w-75 h-auto">
                    <i class="bi bi-node-plus-fill"></i>
                    New
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr id="@item.shoeId">
                    <td>@Html.Raw(@item.brand)</td>
                    <td>@Html.Raw(@item.color)</td>
                    <td>@Html.Raw(@item.genre)</td>
                    <td>@Html.Raw(@item.sport)</td>
                    <td>@Html.Raw(@item.model)</td>
                    <td>@Html.Raw(@item.price)</td>
                    <td>@Html.Raw(@item.descripcion)</td>
                    <td>

                        <a onclick="Delete('Shoe/Delete/@item.shoeId', @item.shoeId,'@string.Concat("Brand:",item.brand," Color: ",item.color," Genre: ",item.genre," Sport: ",item.sport," Description: ",item.descripcion," Price: ",item.price," Model: ", item.model," ")')" class="btn btn-danger w-75 h-auto">
                            <i class="bi bi-trash"></i>
                            Delete
                        </a>

                        <a asp-controller="Shoe" asp-action="UpSert" asp-route-id="@item.shoeId" class="btn btn-warning w-75 h-auto">
                            <i class="bi bi-pencil-square"></i>
                            Edition
                        </a>
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td>No hay datos en la lista</td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Pager" model="@Model" />
<script src="~/js/common.js"></script>