@using X.PagedList
@using X.Web.PagedList
@model ShoeFilterVm;//Con esto le indico el tipo de modelo que va a recibir esta vista, le pasó este tipo porque en el controlador le paso un parametro de tipo
@{
    ViewData["Title"] = "List of Shoes";
}

<div class="row w-60 mb-3">
    <div class="col-8">
        <h1>List of Shoes</h1>
    </div>
</div>
<form method="get" class="form-inline" asp-action="Index" style="padding-bottom:5px">
    <div class="d-flex flex-row align-items-center">
        <div class="row">
            <div class="col-auto mb-1">
                <label for="pageSize">Show:</label>
            </div>
            <div class="col-auto mb-1">
                <partial name="_selectPageSize" model="ViewBag.currentPageSize" />

            </div>
            <div class="col-auto mb-1" style="width: 200px;">
                <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Search by..." value="@ViewBag.currentSearchTerm" />
            </div>
            <div class="col-auto d-flex">
                <button type="submit" class="btn btn-primary mx-2">
                    <i class="bi bi-search"></i> Search
                </button>
                <button type="submit" class="btn btn-secondary" id="viewAll" name="viewAll" value="true">
                    <i class="bi bi-list"></i> View All
                </button>
            </div>
            <div class="col-auto">Order By:</div>
            <div class="col-auto">
                <select class="form-select" id="orderBy" name="orderBy" onchange="this.form.submit()">
                    <option selected="@(ViewBag.currentOrderBy=="Brand"?"selected":null)" value="Brand">Brand</option>
                    <option selected="@(ViewBag.currentOrderBy=="Colour"?"selected":null)" value="Colour">Color</option>
                    <option selected="@(ViewBag.currentOrderBy=="Genre"?"selected":null)" value="Genre">Genre</option>
                    <option selected="@(ViewBag.currentOrderBy=="Sport"?"selected":null)" value="Sport">Sport</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-2 mt-2">
        <div class="col-auto mx-2" style="width:230px" ;>
            <select class="form-select" id="FilterBrandId" name="FilterBrandId">
                <option disabled selected value="0">Select Brand</option>
                @foreach (var item in Model.Brands!)
                {
                    <option selected="@(ViewBag.currentFilterBrandId==int.Parse(item.Value)?"selected":null)" value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        <div class="col-auto mx-2" style="width:230px" ;>
            <select class="form-select" id="FilterColorId" name="FilterColorId">
                <option selected disabled value="0">Select Color</option>
                @foreach (var item in Model.Colors!)
                {
                    <option selected="@(ViewBag.currentFilterColorId==int.Parse(item.Value)?"selected":null)" value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        <div class="col-auto mx-2" style="width:230px" ;>
            <select class="form-select" id="FilterGenreId" name="FilterGenreId">
                <option selected disabled value="0">Select Genre</option>
                @foreach (var item in Model.Genres!)
                {
                    <option selected="@(ViewBag.currentFilterGenreId==int.Parse(item.Value)?"selected":null)" value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        <div class="col-auto mx-2" style="width:230px" ;>
            <select class="form-select" id="FilterSportId" name="FilterSportId">
                <option selected disabled value="0">Select Sport</option>
                @foreach (var item in Model.Sports!)
                {
                    <option selected="@(ViewBag.currentFilterSportId==int.Parse(item.Value)?"selected":null)" value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>
</form>



<table class="table table-dark table-hover w-auto  ">
    <thead class="border-2">
        <tr bordercolor="dark">
            <th colspan="7" valign="middle" align="center">Shoe</th>
            <th>Accions</th>
        </tr>
        <tr>
            <th>Brand</th>
            <th>Colour</th>
            <th>Genre</th>
            <th>Sport</th>
            <th>Model</th>
            <th>Price</th>
            <th>Description</th>
            <th>
                <a asp-controller="Shoe" asp-action="UpSert" class="btn btn-primary w-75 h-auto">
                    <i class="bi bi-node-plus-fill"></i>
                    New
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Shoes!.Any())
        {
            foreach (var item in Model.Shoes!)
            {
                <tr id="@item.shoeId">
                    <td>@Html.Raw(@item.brand)</td>
                    <td>@Html.Raw(@item.color)</td>
                    <td>@Html.Raw(@item.genre)</td>
                    <td>@Html.Raw(@item.sport)</td>
                    <td>@Html.Raw(@item.model)</td>
                    <td>@Html.Raw(@item.price)</td>
                    <td>@Html.Raw(@item.descripcion)</td>
                    <td>

                        <a onclick="Delete('Shoe/Delete/@item.shoeId', @item.shoeId,'@string.Concat("Brand:",item.brand," Color: ",item.color," Genre: ",item.genre," Sport: ",item.sport," Description: ",item.descripcion," Price: ",item.price," Model: ", item.model," ")')" class="btn btn-danger w-75 h-auto">
                            <i class="bi bi-trash"></i>
                            Delete
                        </a>

                        <a asp-controller="Shoe" asp-action="UpSert" asp-route-id="@item.shoeId" class="btn btn-warning w-75 h-auto">
                            <i class="bi bi-pencil-square"></i>
                            Edition
                        </a>
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td>No hay datos en la lista</td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Pager" model="@Model.Shoes" />
<script src="~/js/common.js"></script>