@using X.PagedList
@using X.Web.PagedList
@model IPagedList<GenreListVM>;

@{
    ViewData["Title"] = "List of Genre";//Esto es como un <h2>???
}

<div class="row w-60 mb-3">
    <div class="col-5">
        <h1 style="color:white">List of Genre</h1>
    </div>
</div>
<form method="get" class="form-inline" asp-action="Index" style="padding-bottom:5px">
    <div class="d-flex flex-row align-items-center">
        <div class="col-auto mx-1">
            <label for="pageSize" style="color:white">Show:</label>
        </div>
        <div class="col-auto mx-2">
            <partial name="_selectPageSize" model="ViewBag.currentPageSize" />

        </div>
        <div class="col-auto mx-2" style="width: 200px;">
            <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Search by..." value="@ViewBag.currentSearchTerm" />
        </div>
        <div class="col-auto d-flex">
            <button type="submit" class="btn btn-primary mx-2">
                <i class="bi bi-search"></i> Search
            </button>
            <button type="submit" class="btn btn-secondary" id="viewAll" name="viewAll" value="true">
                <i class="bi bi-list"></i> View All
            </button>
        </div>
        <div class="col-7 mx-2">
            <a asp-controller="Genre" asp-action="UpSert" class="btn btn-dark">
                <i class="bi bi-node-plus-fill"></i>
                New
            </a>
        </div>
    </div>
</form>
<table class="table table-dark table-hover w-75">
    <thead>
        <tr>
            <th>Genre Name</th>
            <td>Countity of Shoes by Genre</td>
            <th>Accions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr id="@item.GenreId">
                    <td>
                        @Html.Raw(@item.GenreName)@*Este HTML.RAW permite mostrar el texto como se Modifico en el textarea,
                esto quiere decir que puede ser texto en negrita, cursiva, etc*@
                    </td>
                    <td class="text-aling text-center">@item.ShoeCount</td>
                    <td>
                        <a onclick="Delete('/Admin/Genre/Delete/@item.GenreId', @item.GenreId,'@item.GenreName')" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                            Delete
                        </a>
                        @*El nombre "id" del asp-route debe conicidirme con el que le paso en la acción Edit en el controlador*@
                        <a asp-controller="Genre" asp-action="UpSert" asp-route-id="@item.GenreId" asp-route-returnurl="@(Context.Request.Path+Context.Request.QueryString)" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                         <a asp-controller="Genre" asp-action="Details" asp-route-id="@item.GenreId" class="btn btn-info" style="background-color:chartreuse">
                            Details
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No hay datos en la lista</td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Pager" model="@Model" />
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/common.js"></script>
}
