@model IEnumerable<ShoeListVM>
@{
    ViewData["Title"] = "List of Shoes";
}
<div class="row w-60 mb-3">
    <div class="col-8">
        <h1>
            Shoes with this Brand:   @{
                foreach (var item in Model)
                {
                    @item.brand
                    break;
                }
            }
        </h1>
    </div>
</div>

<table class="table table-dark table-hover w-auto">
    <thead class="border-2">
        <tr bordercolor="dark">
            <th colspan="8" valign="middle" align="center">Shoe</th>
        </tr>
        <tr>
            <th>Colour</th>
            <th>Genre</th>
            <th>Sport</th>
            <th>Model</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr id="@item.shoeId">
                    <td>@Html.Raw(@item.color)</td>
                    <td>@Html.Raw(@item.genre)</td>
                    <td>@Html.Raw(@item.sport)</td>
                    <td>@Html.Raw(@item.model)</td>
                    <td>@Html.Raw(@item.price)</td>
                    <td>@Html.Raw(@item.descripcion)</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No hay datos en la lista</td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Brand" asp-action="Index" class="btn btn-info">
    <i class="bi bi-arrow-return-left"></i>
    Back to List
</a>
