@using X.PagedList
@using X.Web.PagedList
@model IPagedList<BrandListVM>;//Con esto le indico el tipo de modelo que va a recibir esta vista, le pasó este tipo porque en el controlador le paso un parametro de tipo
@{
    ViewData["Title"] = "List of Brands";
}

<div class="row w-60 mb-3">
    <div class="col-5">
        <h1>List of Brands</h1>
    </div>
</div>
    <form method="get" class="form-inline" asp-action="Index" style="padding-bottom:5px">
        <div class="d-flex flex-row align-items-center">
            <div class="col-auto mx-1">
                <label for="pageSize">Show:</label>
            </div>
            <div class="col-auto mx-2">
               <partial name="_selectPageSize" model="ViewBag.currentPageSize" />
            </div>
            <div class="col-auto mx-2" style="width: 200px;">
                <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Search by..." value="@ViewBag.currentSearchTerm" />
            </div>
            <div class="col-auto d-flex">
                <button type="submit" class="btn btn-primary mx-2">
                    <i class="bi bi-search"></i> Search
                </button>
                <button type="submit" class="btn btn-secondary" id="viewAll" name="viewAll" value="true">
                    <i class="bi bi-list"></i> View All
                </button>
            </div>
        <div class="col-7 mx-2">
            <a asp-controller="Brand" asp-action="UpSert" class="btn btn-dark">
                <i class="bi bi-node-plus-fill"></i>
                New
            </a>
        </div>
        </div>
    </form>
<table class="table table-dark table-hover w-75 ">
    <thead>
        <tr>
            <th>Brand</th>
            <th class ="text-align text-center">Countity of Shoes by Brand</th>
            <th>Active</th> 
            <th>Accions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr id="@item.BrandId">
                    <td>@Html.Raw(@item.BrandName)</td>
                    <td class="text-align text-center">@item.ShoeCount</td>
                    <td>
                    @if (item.Active)
                    {
                        <span class="badge text-bg-primary">Yes</span>
                    }
                    else
                    {
                        <span class="badge text-bg-warning">No</span>
                    }
                    </td>
                    <td>

                        <a onclick="Delete('Brand/Delete/@item.BrandId', @item.BrandId,'@item.BrandName')" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                            Delete
                        </a>

                        <a asp-controller="Brand" asp-action="UpSert" asp-route-id="@item.BrandId" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                        <a asp-controller="Brand" asp-action="Details" asp-route-id="@item.BrandId" class="btn btn-info" style="background-color:chartreuse">
                            Details
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No hay datos en la lista</td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Pager" model="@Model" />

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/common.js"></script>
}